<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block Title %}
      
    {% endblock Title %}
    <style>
        footer {
            position: fixed !important;
            bottom: 0 !important;
            width: 100%;
        }
    </style>
    <title>mamar bank</title>
</head>
<body>
    {% include 'navbar.html' %}

    <div>
        
        {% block body %}
        <div>
           
        
        </div>
        
        {% endblock body %}
    </div>
</body>
</html>

